<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/webapp_
2_5.xsd">

<servlet>
    <servlet-name>TMWebRock</servlet-name>
    <servlet-class>com.thinking.machines.webrock.TMWebRock</servlet-class>
    <init-param>
    <param-name>SERVICE_PACKAGE_PREFIX</param-name>
    <param-value>bobby</param-value>
    </init-param>
   </servlet>
    <servlet-mapping>
    <servlet-name>TMWebRock</servlet-name>
    <url-pattern>/schoolService/*</url-pattern>
    </servlet-mapping>

<servlet>
    <servlet-name>TMWebRockStarter</servlet-name>
    <init-param>
    <param-name>SERVICE_PACKAGE_PREFIX</param-name>
    <param-value>bobby</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
    <servlet-class>com.thinking.machines.webrock.TMWebRockStarter</servlet-class>
</servlet>

</web-app>